# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
pip install python-gmaps

Collecting python-gmapsNote: you may need to restart the kernel to use updated packages.
  Downloading python_gmaps-0.3.1-py2.py3-none-any.whl (13 kB)
Requirement already satisfied: requests in c:\users\jtc\anaconda3\envs\datacoursepython\lib\site-packages (from python-gmaps) (2.26.0)
Requirement already satisfied: pytz in c:\users\jtc\anaconda3\envs\datacoursepython\lib\site-packages (from python-gmaps) (2021.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\jtc\anaconda3\envs\datacoursepython\lib\site-packages (from requests->python-gmaps) (2.0.3)
Requirement already satisfied: idna<4,>=2.5 in c:\users\jtc\anaconda3\envs\datacoursepython\lib\site-packages (from requests->python-gmaps) (3.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\jtc\anaconda3\envs\datacoursepython\lib\site-packages (from requests->python-gmaps) (2021.5.30)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\jtc\anaconda3\envs\datacoursepython\lib\site-packages (from requests->python-gmaps) (1.26.6)
Installing collected packages: python-gmaps
Successfully installed python-gmaps-0.3.1

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from my_api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# check API key
g_key

'AIzaSyAZoVU-E7kQpstErzMedNOLgtt_qjR-sLo'

In [5]:
#load weather_data.csv

weather_df = pd.read_csv("weather_data.csv")

weather_df.head()

,Unnamed: 0,City,Lat,lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Hay River,60.8156,-115.7999,85.98,39,75,2.30,CA,1627845899
1,1,Prince Rupert,54.3161,-130.3201,60.49,94,90,3.44,CA,1627845900
2,2,Ushuaia,-54.8000,-68.3000,46.06,57,0,6.91,AR,1627845900
3,3,Busselton,-33.6500,115.3333,52.56,76,100,8.21,AU,1627845900
4,4,Mataura,-46.1927,168.8643,40.48,98,64,3.74,NZ,1627845900

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [6]:
#cofigure gmaps
gmaps.configure(api_key=g_key)

In [9]:
# Store latitude and longitude in locations
locations = weather_df[["Lat", "lng"]]

# Fill NaN values and convert to float
humidity = weather_df["Humidity"]

# Plot Heatmap
fig = gmaps.Map()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity)

# Add layer
fig.add_layer(heat_layer)
fig

Map(configuration={'api_key': 'AIzaSyAZoVU-E7kQpstErzMedNOLgtt_qjR-sLo'}, data_bounds=[(-47.33829412467439, -1â€¦

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [21]:
#conditionals:
#Cloudiness = 0
#Temperature between 70 and 80
# wind speed lower than 10

perfecto_mundo_df = weather_df.loc[weather_df['Max Temp'] < 80, :]
perfecto_mundo_df = perfecto_mundo_df.loc[perfecto_mundo_df['Max Temp'] > 70, :]
perfecto_mundo_df = perfecto_mundo_df.loc[perfecto_mundo_df['Wind Speed'] < 10, :]
perfecto_mundo_df = perfecto_mundo_df.loc[perfecto_mundo_df['Cloudiness'] == 0, :]

#drop duplicate index column
perfecto_mundo_df = perfecto_mundo_df.drop('Unnamed: 0',axis=1)

# reset index
perfecto_mundo_df.reset_index(drop=True)

,City,Lat,lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Ipaba,-19.4136,-42.4194,71.74,49,0,3.44,BR,1627845933
1,Takoradze,4.8845,-1.7554,76.60,84,0,7.40,GH,1627845937
2,Tongzhou,39.9053,116.5994,71.71,78,0,6.71,CN,1627846431
3,AcarÃ­,-15.4311,-74.6158,75.83,49,0,8.28,PE,1627846440
4,Kulu,39.0951,33.0799,75.52,24,0,8.50,TR,1627846512
5,San Fernando del Valle de Catamarca,-28.4696,-65.7852,71.78,34,0,4.00,AR,1627846528

In [22]:
# count values of filtered dataframe
perfecto_mundo_df.count()

City          6
Lat           6
lng           6
Max Temp      6
Humidity      6
Cloudiness    6
Wind Speed    6
Country       6
Date          6
dtype: int64

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [12]:
hotel_df = perfecto_mundo_df

In [28]:
# add blank "Hotel Name" column
hotel_df['Hotel Name'] = pd.Series()

hotel_df

C:\Users\Jtc\AppData\Local\Temp/ipykernel_24008/1595589145.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  hotel_df['Hotel Name'] = pd.Series()

,Unnamed: 0,City,Lat,lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
188,188,Ipaba,-19.4136,-42.4194,71.74,49,0,3.44,BR,1627845933,NaN
214,214,Takoradze,4.8845,-1.7554,76.60,84,0,7.40,GH,1627845937,NaN
282,282,Tongzhou,39.9053,116.5994,71.71,78,0,6.71,CN,1627846431,NaN
290,290,AcarÃ­,-15.4311,-74.6158,75.83,49,0,8.28,PE,1627846440,NaN
343,343,Kulu,39.0951,33.0799,75.52,24,0,8.50,TR,1627846512,NaN
356,356,San Fernando del Valle de Catamarca,-28.4696,-65.7852,71.78,34,0,4.00,AR,1627846528,NaN

In [40]:
target = "Hotel"
radius = 5000
place_type = "lodging"

index = 0

for index, row in hotel_df.iterrows():
    
    # set parameters
    params = {
        "location": f"{row['Lat']}, {row['lng']}",
        "keyword": target,
        "radius": radius,
        "type": place_type,
        "key": g_key
    }

    # base url
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # run request
    response = requests.get(base_url, params=params)
    response_json = response.json()
    results = response_json["results"]
    
    if len(results) > 0:
        
        name = response_json['results'][0]['name']
        hotel_df.loc[index, "Hotel Name"] = name
        
    index = index + 1

location_df = hotel_df

In [42]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_information = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "lng"]]

In [43]:
# Add marker layer

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_information)
fig.add_layer(marker_layer)

# Display
fig

Map(configuration={'api_key': 'AIzaSyAZoVU-E7kQpstErzMedNOLgtt_qjR-sLo'}, data_bounds=[(-51.3421065456523, -17â€¦

In [44]:
location_df

,Unnamed: 0,City,Lat,lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name,-1
188,188,Ipaba,-19.4136,-42.4194,71.74,49,0,3.44,BR,1627845933,NaN,NaN
214,214,Takoradze,4.8845,-1.7554,76.60,84,0,7.40,GH,1627845937,Best Western Plus Atlantic Hotel,Best Western Plus Atlantic Hotel
282,282,Tongzhou,39.9053,116.5994,71.71,78,0,6.71,CN,1627846431,Sunflower Hotel,ibis Beijing Changying
290,290,AcarÃ­,-15.4311,-74.6158,75.83,49,0,8.28,PE,1627846440,HOTEL BELLA UNION,HOTEL BELLA UNION
343,343,Kulu,39.0951,33.0799,75.52,24,0,8.50,TR,1627846512,Atay Otel,Hotel YÃ¼cel
356,356,San Fernando del Valle de Catamarca,-28.4696,-65.7852,71.78,34,0,4.00,AR,1627846528,Amerian Catamarca Park Hotel,Amerian Catamarca Park Hotel